

/* enterprice */
.Enterprise{
background: #0A2640;

   
}
.en-title{
    justify-content: space-between;
    align-items: end;
  
    

   

}
.en-title h3{
    color: #FFF;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
      
}
.en-img{
gap: 28px;
   


    
  
}
.en-img img{
    width: 72px;
    height: 72px;
    display: flex;
}
.en-1{
    width: 350px;
    height: 322px;
    background: #FFF;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s;

}
.en-1:hover {
  background: #e2e1e1;
  transform: scale(1.1) 
  
 
}
.en-1 h3{
color: #000;
font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 36px;
padding: 20px;


}
.en-img{
    padding-left: 40px;
    display: flex;
   
}

.en-1 h4 {
    margin-left: 130px;
    margin-top: -70px;
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
   
}
.en-1 p{
    margin-left: 130px;
    margin-top: 5px;
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
   
}
.en-2{
   width: 350px;
   height: 394px;
}
.en-3{
    width: 350px;
    height: 358px;
}
/* section#imgs */
#imgs{
    padding-block: 124px;
}
.img-title h3{
    color: #000; 
    font-family: Manrope;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

.img-1{
    width: 500px;
    height: 54px;
  
    
   
}
.img-1 h4{
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
 
    
}
.chiziq{
    width: 500px;
    height: 1px;
    background: #C4C4C4;
    margin-block: 16px;
    
}
.flex-img-1{
    flex-direction: column;
}
.img-container img:hover{
   
    transform: scale(1.1)
      
}
.img-container img{
    transition: .5s;
    cursor: pointer;
}




 /* section#imgs end */



 /* section#blog */

.blog-title{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    text-align: center;
} 

.blog-title p{
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
   
}
.blog-title h4{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    
}
.blog-imgs{
    padding: 79px 0 0 90px;
}

.blog-1{
    width: 300px;
    height: 424px;
    padding: 79px 0 0 0;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
    
}
.blog-1:hover{
    
    transform: scale(1.1);
}
.blog-1 img{
   margin-top: -78px;
}
.blog-1-titli h4{
color: var(--Dark-Blue, #0A2640);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;
    
}
.blog-1-titli p{
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
}
.blog-1 h5{
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 12px 0 0 0;
        
}
.blogg img{
 margin-block: 40px;
}
.blogg h6{
margin-block: 40px;
color: #000;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
   
}

 /* section#blog end */

 .btn{
   
    height: 56px;
    width: 231px;
    border: 2px solid #0A2640;
    border-radius: 56px;
    margin: 0 auto;
    margin-block: 85px;
    overflow: hidden;
    
    
  
 }
 .btn a{
    position: relative;
   padding: 14px 54px 14px 54px;
   display: inline-flex;
   justify-content: center;
    align-items: center;
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-style: normal;
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    z-index: 1;
    overflow: hidden;
   
   
}
 .btn a{
    background: transparent;
    color: #000;
 }
 .btn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0e60ad ;
    z-index: -1;
    transition: .5s;
 }
 .btn a:hover::before{
    width: 100%;
 }


/* section#star */
.star-container{
    margin-top: 200;
    background: var(--Dark-Blue, #0A2640);
    background-image: url(/img/Ellipse\ 9\ \(1\).svg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 391px;
    flex-shrink: 0;
    border-radius: 12px;
    position: relative;
    /* z-index: -1; */
    border-top-left-radius: 10px;
    background-position: 100% 0%;
}

.star-title{
    width: 716px;
    height: 139px;
    padding: 72px 242px 180px 242px;
    
}
.star-img{

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 12px;
}
.star-title h2{
    display: flex;
    width: 716px;
    height: 139px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}
.btn-box{
    width: 604px;
    margin-left: 48px;
    margin-top: 50px;    
}
.btn-box input{
    width: 370px;
    border-radius: 240px;
    border: 2px solid #FFF;
    background: #FFF;
    color: #000; 
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-left: 32px;
    cursor: pointer;
}
.btn-box input:hover{
    background-color: #e2e1e1;
    transform: scale(1.1);
}
#start_link{
    position: relative;
    z-index: 1;
    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border-radius: 56px;
    border: 2px solid var(--Green, #65E4A3);
    background: var(--Green, #65E4A3);
    overflow: hidden;
   
}
.btn-box a{
    background: transparent;
    color: #0e60ad;
}

.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0e60ad;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}
.footer-info{
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    
}
.footer-info2{
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 64px;

}
.footer_2{
    margin-top: -40px;
}
.landing{
    width: 150px;
    height: 172px;
   margin-block: 15px;
    
}
.footer_h3{
    display: flex;
    width: 150px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-block: 32px;
}

.landing{
    
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    width: 150px;
    height: 172px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.hiring{
    width: 72px;
    height: 30px;
    border-radius: 120px;
    background: var(--Green, #65E4A3);
    display: inline-flex;
    padding: .5px 5px;
    align-items: flex-start;
    text-align: center;
    
    
}

 /* section#star */

 
/* main-header */

#main-header {
  padding-top: 200px;
  background: #0a2640;
  color: #fff;
  background-image: url(../images/main-header-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  /* background-size: contain;   */
}

#main-header header{
    background-image: url(../images/main-header-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 0;
        top: 0;
        z-index: 99999;
}

header {
  padding: 57px 0 64px;
  position: fixed;
  width: 100%;
  background-color: #0a2640;
  background-repeat: no-repeat;
  background-position: 100% 0;
  top: 0;
  z-index: 99999;
}

.navbar {
  gap: 40px;
}

.navbar a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.navbar button {
  padding: 8px 40px;
  gap: 8px;
  cursor: pointer;
  border-radius: 24px;
  border: 2px solid #fff;
  background: #fff;
  color: var(--Dark-Blue, #0a2640);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/* main-header and */

/* hero */

#hero .flex-1 {
  height: 425px;
}

.hero-title {
  width: 567px;
  height: 138px;
  color: #fff;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 1rem;
}

.hero-text {
  width: 567px;
  color: var(--Light-Grey, #f1f1f1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  gap: 24px;
}

.btn-1 {
  color: var(--Dark-Blue, #0a2640);
  border: 2px solid #69e6a6;
  background: var(--Green, #65e4a3);
}
.btn-1,
.btn-2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 16px 56px;
  border-radius: 56px;
  line-height: 28px;
}

.btn-2 {
  color: #fff;
  border: 2px solid #fff;
}

.hero-img-1 {
  margin-bottom: 25px;
}

.hero-img-2 {
  margin-right: 38px;
}

.boldo-presto {
  margin-block: 85px;
}
/* hero end */

/* our services */

#services {
  background-color: #fff;
}

.servic-text {
  color: var(--Gray, #777);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 42px;
}

.servic-title {
  width: 842px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin: 0 auto 78px;
}

.cards {
  gap: 100px;
  justify-content: center;
  margin-bottom: 185px;
}

.card img {
  border-radius: 24px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-bottom: 24px;
}

.card-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 12px;
}

.card-text {
  width: 293px;
  color: var(--Gray, #777);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 28px;
}
.card_link {
  color: #0a2640;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card_link i {
  margin-left: 12px;
}

.card_link + hr {
  width: 164px;
  height: 3px;
  margin-top: 8px;
  background-color: #0a2640;
}
/* our services end */

/* customers */

#customers .container {
  gap: 150px;
  margin-bottom: 120px;
}
.img-box {
  position: relative;
  height: 610px;
}

.customers-diagram {
  width: 251px;
  height: 388px;
  position: absolute;
  top: 220px;
  left: 186px;
  padding: 40px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
}
.customers-diagram img {
  margin-bottom: 20px;
}

.customers-diagram h3 {
  color: var(--Dark-Blue, #0a2640);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.267px;
}

.customers-diagram p {
  color: var(--Dark-Blue, #0a2640);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.custom-title {
  width: 493px;
  height: 164px;
  color: #000;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

#customers ul li {
  position: relative;
  padding-left: 61px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
#customers ul li::before {
  content: url(../images/check.png);
  width: 36px;
  position: absolute;
  height: 36px;
  bottom: -6px;
  left: 0;
  background-color: #0a2640;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.custom-btn {
  width: 210px;
  color: #fff;
  cursor: pointer;
  margin-top: 3.5rem;
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 2px solid var(--Dark-Blue, #0a2640);
  background: var(--Dark-Blue, #0a2640);
}
/* customers end */

/* connect */

#connect
.container {
  gap: 150px;
  margin-bottom: 200px;
}

.left-connect li {
  width: 500px;
  height: 68px;
  flex-shrink: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 24px;
  line-height: 36px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.left-connect li:nth-child(1) {
  color: #fff;
  background: var(--Dark-Blue, #0a2640);
  margin-top: 64px;
}

.left-connect li span {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

#connect .customers-diagram {
  width: 291px;
  left: 48px;
  top: 300px;

}

/* connect end */
